<footer
  class="
    relative
    px-1
    sm:px-20
    py-3
    w-full
    border
    rounded
    border-blue-blue_bg_1
    dark:border-blue-blue_bg_2
    bg-gradient-to-r
    from-blue-blue_bg_1
    to-blue-blue_bg_2
    dark:from-blue-900 dark:to-gray-900
    shadow-2xl
  "
>
  <ul class="flex flex-col sm:flex-row sm:justify-between">
    <li>
      <ul class="py-3">
        <li>
          <h2 class="text-gray-100">Redes sociales</h2>
        </li>
        <li class="text-gray-100">
          <a href="#">
            <span class="break-words">Facebook</span>
          </a>
        </li>
        <li class="text-gray-100">
          <a href="#">
            <span class="break-words">Youtube</span>
          </a>
        </li>
        <li class="text-gray-100">
          <a href="#">
            <span class="break-words">Instagram</span>
          </a>
        </li>
        <li class="text-gray-100">
          <a href="#">
            <span class="break-words">Twitter</span>
          </a>
        </li>
      </ul>
    </li>
    <ul class="py-3">
      <li>
        <h2 class="text-gray-100">Contactanos</h2>
      </li>
      <li>
        <form action="#">
          <textarea
            name=""
            id=""
            rows="2"
            class="
              w-full
              border
              border-blue-blue_bg_1
              dark:border-blue-blue_bg_2
              bg-gradient-to-r
              from-blue-blue_bg_1
              to-blue-blue_bg_2
              dark:from-blue-900 dark:to-gray-900
              text-gray-100
              outline-none
              rounded
            "
          ></textarea>
          <input
            type="submit"
            value="Submit"
            class="px-3 py-1 rounded text-gray-300 bg-blue-600"
          />
        </form>
      </li>
    </ul>
  </ul>
</footer>
