<footer
  class="
    px-1
    sm:px-20
    py-3
    w-full
    border border-gray-300
    dark:border-blue-600
    bg-white
    dark:bg-gray-900
    shadow-lg
    transition
    duration-300
    ease-in-out
  "
>
  <h1
    class="
      text-gray-900
      dark:text-gray-200
      text-center
      uppercase
      transition
      duration-300
      ease-in-out
    "
  >
    Nosotros
  </h1>
  <ul
    class="
      flex flex-col
      sm:flex-row sm:justify-between
      transition
      duration-300
      ease-in-out
    "
  >
    <li>
      <ul class="py-3">
        <li>
          <h2
            class="
              text-gray-900
              dark:text-gray-200
              transition
              duration-300
              ease-in-out
            "
          >
            Redes sociales
          </h2>
        </li>
        <li
          class="
            text-gray-900
            dark:text-gray-200
            transition
            duration-300
            ease-in-out
          "
        >
          <a href="#">
            <span class="break-words">Facebook</span>
          </a>
        </li>
        <li
          class="
            text-gray-900
            dark:text-gray-200
            transition
            duration-300
            ease-in-out
          "
        >
          <a href="#">
            <span class="break-words">Youtube</span>
          </a>
        </li>
        <li
          class="
            text-gray-900
            dark:text-gray-200
            transition
            duration-300
            ease-in-out
          "
        >
          <a href="#">
            <span class="break-words">Instagram</span>
          </a>
        </li>
        <li
          class="
            text-gray-900
            dark:text-gray-200
            transition
            duration-300
            ease-in-out
          "
        >
          <a href="#">
            <span class="break-words">Twitter</span>
          </a>
        </li>
      </ul>
    </li>
    <ul class="py-3">
      <li>
        <h2
          class="
            text-gray-900
            dark:text-gray-200
            transition
            duration-300
            ease-in-out
          "
        >
          Contactanos
        </h2>
      </li>
      <li
        class="
          text-gray-900
          dark:text-gray-200
          transition
          duration-300
          ease-in-out
        "
      >
        <a href="#">
          <span class="break-words">Message</span>
        </a>
      </li>
      <li>
        <form action="#">
          <textarea
            name=""
            id=""
            rows="2"
            class="
              w-full
              bg-gray-50
              dark:bg-gray-900
              border border-gray-300
              dark:border-gray-600
              text-gray-900
              dark:text-gray-200
              outline-none
              transition
              duration-300
              ease-in-out
            "
          ></textarea>
          <input
            type="submit"
            value="Submit"
            class="
              px-3
              py-1
              rounded
              text-gray-300
              bg-blue-600
              transition
              duration-300
              ease-in-out
            "
          />
        </form>
      </li>
    </ul>
  </ul>
</footer>
