<div
  class="
    p-2
    mb-5
    flex flex-row
    gap-x-2
    bg-purple-100
    dark:bg-gray-800
    rounded
    border border-purple-900
    dark:border-gray-600
    shadow-md
    transition
    duration-300
    ease-in-out
  "
>
  <button
    (click)="loadCreate()"
    class="
      p-2
      text-center text-gray-900
      hover:text-gray-50
      dark:text-gray-50 dark:hover:text-gray-50
      uppercase
      bg-gray-50
      hover:bg-purple-500
      dark:bg-blue-blue_2 dark:hover:bg-blue-900
      border
      rounded
      border-purple-900
      dark:border-blue-600
      transition
      duration-300
      ease-in-out
    "
  >
    Create film
  </button>
  <button
    (click)="loadIndex()"
    class="
      p-2
      text-center text-gray-900
      hover:text-gray-50
      dark:text-gray-50 dark:hover:text-gray-50
      uppercase
      bg-gray-50
      hover:bg-purple-500
      dark:bg-blue-blue_2 dark:hover:bg-blue-900
      border
      rounded
      border-purple-900
      dark:border-blue-600
      transition
      duration-300
      ease-in-out
    "
  >
    films
  </button>
  <button
    (click)="loadMain()"
    class="
      p-2
      text-center text-gray-900
      hover:text-gray-50
      dark:text-gray-50 dark:hover:text-gray-50
      uppercase
      bg-gray-50
      hover:bg-purple-500
      dark:bg-blue-blue_2 dark:hover:bg-blue-900
      border
      rounded
      border-purple-900
      dark:border-blue-600
      transition
      duration-300
      ease-in-out
    "
  >
    home
  </button>
</div>
