<span
  class="
    py-2
    px-5
    border
    border-blue-blue_bg_1
    dark:border-gray-900
    rounded
    uppercase
    font-bold
    text-xl text-lef text-gray-200
    bg-gradient-to-r
    from-blue-blue_bg_1
    to-blue-blue_bg_2
    dark:from-blue-900 dark:to-gray-900
    bg-opacity-50
    break-words
    hover:cursor-pointer
    shadow-2xl
  "
  (click)="main()"
>
  {{ title }}
</span>
<section class="my-5 grid grid-cols-1 lg:grid-cols-3 gap-y-10 sm:gap-y-0">
  <app-content-container class="col-start-1 col-end-3"></app-content-container>
  <app-list></app-list>
</section>
