.my_class {
  color: #d4dcff;
}
.my_class {
  color: #00ff15;
}

.my_class {
  color: #bb58da;
}
.my_class {
  color: #f7c244;
}

.my_class {
  color: #f07850;
}
.my_class {
  color: #a9f525;
}
.my_class {
  color: #cb70ec;
}
