<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div
      class="
        bg-white
        dark:bg-gray-800
        min-w-screen min-h-screen
        transition
        duration-300
        ease-in-out
      "
    >
      <div
        id="loading"
        class="
          w-full
          h-full
          absolute
          bg-white
          dark:bg-gray-800
          z-50
          transition
          duration-300
          ease-in-out
        "
      >
        <div
          class="
            w-full
            h-full
            flex
            justify-center
            items-center
            uppercase
            font-black
            text-5xl text-black
            transition
            duration-300
            ease-in-out
          "
        >
          <span class="word_loadding">Loadding</span>
          <div class="my_spin"></div>
        </div>
      </div>

      <div class="max-w-7xl m-auto pb-20 transition duration-300 ease-in-out">
        <app-container-navigation></app-container-navigation>
        <div
          class="
            w-full
            px-0
            sm:px-2
            py-14
            sm:py-7 sm:my-5
            transition
            duration-300
            ease-in-out
          "
        >
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </body>
</html>
