<div
  class="
    pb-20
    w-full
    m-auto
    max-w-7xl
    relative
    justify-center
    min-w-screen min-h-screen
    transition
    duration-200
    ease-in-out
  "
>
  <div
    id="loading"
    class="
      w-full
      h-full
      absolute
      flex
      justify-center
      items-center
      bg-gradient-to-r
      from-blue-blue_bg_1
      to-blue-blue_bg_2
      dark:from-blue-900 dark:to-gray-900
      z-50
      transition
      duration-300
      ease-in-out
    "
  >
    <div
      class="
        w-full
        h-full
        max-w-7xl
        absolute
        flex flex-col
        sm:flex-row
        justify-center
        items-center
        uppercase
        font-black
        text-5xl text-black
        transition
        duration-300
        ease-in-out
      "
    >
      <span class="word_loadding">Loadding</span>
      <div class="my_spin"></div>
    </div>
  </div>

  <app-container-navigation
    class="w-full fixed z-10 transition duration-200 ease-in-out"
    id="router_outlet"
  ></app-container-navigation>
  <div class="pt-20 pb-10 bg-transparent">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
