<section
  class="
    p-5
    bg-gray-50
    dark:bg-blue-blue_2
    border
    rounded
    border-gray-300
    dark:border-blue-600
    shadow-lg
    transition
    duration-300
    ease-in-out
  "
>
  <h1 class="text-gray-900 dark:text-gray-50">
    Create an amazing film, then upload that film :D
  </h1>
  <div class="carrucel">
    <div class="my_section">
      <!-- <img
        src="assets/img/carrucel/fondo_3.jpg"
        class="other_img m-auto object-none max-w-2xl max-h-60"
        alt=""
      /> -->
    </div>
  </div>
  <div id="container_carrucel" class="container_carrucel"></div>
</section>
