<section
  class="
    p-5
    border
    rounded
    border-gray-300
    dark:border-gray-600
    shadow-lg
    transition
    duration-300
    ease-in-out
  "
>
  <h1
    class="
      py-5
      px-2
      border
      rounded
      border-gray-300
      dark:border-blue-600
      bg-gray-50
      dark:bg-blue-blue_2
      text-gray-900
      dark:text-gray-50
      uppercase
      font-bold
      text-center
      shadow-lg
      transition
      duration-300
      ease-in-out
    "
  >
    Create an amazing film, then upload that film :D
  </h1>
  <section id="container_carrucel"></section>
</section>
